*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #242A32;
}
h2{
    
    
    font-family: Montserrat;
    font-size: 34px;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: 0em;
    text-align: center;
    color: aliceblue;
    
}
.search-section input {
    width: 96vw;
    margin-left: 2rem;
    font-size: 1rem;
    padding: 0.4rem 0.4rem;
    border-radius: 4.2rem;
}
input{
    background-color: rgb(128, 128, 128);
    width:80vw;
    background: #3A3F47;

    padding:0.2rem;
    border:none;
    outline:none;
    box-sizing:border-box;
    margin-bottom:0.8rem;
    color:#ffff;
}
#serach-btn{
   border: none;
    outline: none;
    font-size: 1rem;

    background-color: #6495ed;
    border-radius: 4.2rem;
    padding: 0.5rem 5.3rem;
    position: relative;
    left: 30.5rem;

}
.custom-spinning{
    display: none;
    width: 8rem;
    height: 8rem;
    border: 0.8rem solid grey;
    border-radius: 50%;
    border-top: 0.8rem solid red;
    position: relative;
    top: 3rem;
    left: 33rem;
    animation: spin 2s linear infinite;

}
@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
        
    }
    
}
.movie-results{
   
    display: grid;
    grid-template-columns: repeat(5,14rem);
    gap: 1.2rem;
}
.imdb{
    width: 18vw;
    height: 106vh;
    display: flex;
    flex-direction: column;
    color: #ffff;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    background-color: #3A3F47;
    align-items: left;
}

.index-title #index{
    font-size: 2rem;
    color: ghostwhite;
    position: relative;
    top: -3rem;
    left: 1rem;


}
.year-imdbid p {
    font-size: 1.3rem;
    padding: 0.1rem;
}
.type p{
    font-size: 1.3rem;
    padding: 0.1rem;
   
}


 .imdb .poster img{
    width: 100%;
    height: 93%;
}
.imdb div{
    
}
#error-handling{
    
    font-size: 2rem;
    color: red;
    text-align: center;
}